.container {
  width: 50%;
  height: 100%;
  min-height: 80%;
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
} 

